
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorOperacionCategoria</title>
</head>

<body>
    @Html.Partial("_ErrorOperacion")



</body>
</html>

